/* Algemene body-styling */
body {
  font-family: Arial, sans-serif;
  background-color: #eedecb; 
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Titels */
h1, h2 {
  margin-bottom: 40px;
  font-weight: bold;
}

header {
  font-size: 2rem;
  font-weight: bold;
  margin: 100px 0;
}

/* Naam en titels */
.name-title {
  margin-top: 50px;
  margin-bottom: -50px;
  font-size: 100px;
  position: relative;
  z-index: 1;
}

.portfolio-title {
  font-size: 80px;
  margin-top: -50px;
  position: relative;
  z-index: 2;
}

/* Buttons en knoppen */
.custom-btn {
  border: 3px solid black;
  font-size: 25px;
  padding: 1px 4px;
  
}

.custom-btn:hover {
  background-color: #1f1f24;
  color: white;
}

/* HR lijn */
.custom-hr {
  border: none;
  border-top: 4px solid black;
  width: 70%;
  margin: 20px auto;
  opacity: 100;
}

/* Teksten en marges */
.customtxt {
  font-weight: bold;
  font-size: large;
}

.text-container {
  margin-top: 40px;
}

.pip {
  margin-bottom: 60px;
}

.test {
  max-width: 400px;
  height: auto;
}

.wiebenik {
  text-align: center;
  font-weight: 900;
}

.space {
  margin-top: 50px;
}

.custom {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 30px;
}

/* Afbeeldingen */
.foto4 {
  margin-top: 40px;
  max-width: 600px;
  width: 100%;
}

.clickable-card {
  text-align: center;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: block;
  padding: 10px;
  border-radius: 10px;
}

.clickable-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #1f1f24;
  color: white;
}

.clickable-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

p {
  font-size: 20px;
  margin: 10px 0;
}

/* Centrerende wrapper */
.center-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigatie */
nav a {
  text-decoration: none;
  padding: 10px 20px;
  border: 4px solid black;
  background-color: #efe2d0;
  color: black;
}

/* Formulieren */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 0px;
}

input,
textarea,
button {
  text-align: center;
  width: 255px;
  padding: 10px;
  border: 3px solid black;
  font-size: 1rem;
  background-color: #efe2d0;
}

textarea {
  height: 100px;
}

button {
  margin-bottom: 200px;
  background-color: black;
  color: white;
  cursor: pointer;
  
}
